*{
  margin:0;
  padding:0;
}

body {
  margin:0;
  font-size: 25px;
  color:#fff0b3;
  line-height:1.6;
  text-align: center;
}

#showcase {
  background-image:url('../img/background1.jpg');
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  height:100vh;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 20px;
}

#showcase h1 {
  font-size: 60px;
  color:#ffffff;
  line-height:5;
  text-decoration: underline;
  text-decoration-color: #ff5757;
  text-shadow: -3px 2px 15px #282828;
}

.btn {
  display:inline-block;
  border: none;
  padding: 6px 12px;
  margin-top: 70px;
  margin-bottom: 0;
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  background-color: #fff0b3;
}

#section-a {
  padding:20px;
  font-size:20px;
  background:#3973ac;
  color:#fff;
  text-align: center;
}

#section-a h2 {
  text-shadow: -1px 1px 5px #282828;
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  color:#fff0b3;
}

.main-content {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-left: -5px;
  margin-right: -5px;
}


.main-content .quote-placeholder {
  padding-top: 20px;
  padding-bottom: -15px;
  font-size: 25px;
}

.main-content .sentence {
  color: #ffffff;
  font-size: 35px;
  text-shadow: -3px 2px 15px #282828;
}

body .author,
body .title {
  color: #ffffff;
  font-style: italic;
  font-size: 20px;
  text-shadow: -1px 1px 5px #282828;
}
